@import "./styles/index.scss";

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--vs-dark);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .13);
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
